:root {
    --scale_index: calc(1vw + 1vh);
}

.device_card {
    display: grid;
    justify-items: center;
    gap: 8px;

    background-color: #dadada;
    padding: 16px;
    border-radius: 8px;

    font-family: sans-serif;
}

.dashboard__device-param {
}

.dashboard__device-event {
    width: calc(var(--scale_index) * 4);
    height: calc(var(--scale_index) * 4);

    border-radius: 8px;

    border: 0px;
}

.dashboard__device-on {
    background-color: green;
}

.dashboard__device-off {
    background-color: red;
}