.device_card {
    /* display: grid; */
    gap: 16px;
    justify-items: stretch;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-card);
    padding: 32px;
    border-radius: 8px;

    font-family: sans-serif;
}

.dashboard__device-param {
    color: var(--font-color);
    font-family: "Roboto", sans-serif;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__device-event {
    width: calc(var(--scale_index) * 5);
    height: calc(var(--scale_index) * 5);
    
    min-width: 64px;
    min-height: 64px;

    border-radius: 8px;

    border: 0px;

    transition: background-color .3s ease;
}

.dashboard__device-on {
    background-color: green;
}

.dashboard__device-off {
    background-color: red;
}

.dashboard__device-disable {
    background-color: gray;
}

.dashboard__device-more {
    background-color: #2d2d2d;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid rgba(200, 200, 200, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color ease .3s;
    transition: border ease .3s;
}

.dashboard__device-more:hover {
    background-color: #3c3c3c;
    border: 2px solid rgba(200, 200, 200, 0.7);
}

.dashboard__device-icon {
    width: 24px;
    fill: white ;
}