.controller_colors {

}

.controller_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
}

.controller_line {
  height: 32px;
  width: 100%;
  border-radius: 4px;
  align-self: center;
}


.colors_btn {
  background-color: #343434;
  
  padding: 18px 48px;
  border-radius: 8px;
  border: 0px;
  
  width: 100%;
}

.colors_btn span {
  color: #fff;
  font-family: var(--font), sans-serif;
  font-size: 16px;
}