.dashboard__devices {
    /* display: grid; */
    display: flex;
    /* grid-template-columns: repeat(6, calc((100% / 6) - (10px * 5 / 6))); */
    /* grid-auto-rows: 1fr; */
    /* grid-gap: 10px; */
    gap: 10px;
    padding: 24px 38px;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.dashboard__device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(67, 66, 66);
    border-radius: 20px;
    padding: 20px;
    hyphens: auto;
    aspect-ratio: 1;

    color: white;

    font-family: sans-serif;
}

.dashboard__device-param {
    margin-top: 8px;
}

.dashboard__loader {
    color: white;
}