.controller {
  background-color: var(--bg-card);
  margin: 24px;
  box-sizing: border-box;
  border-radius: 8px;

  max-width: 560px;

  padding: 32px;
}

.controller__name {
  color: var(--font-color);
  font-family: var(--font), sans-serif;
  font-size: 32px;
  margin: 0;
}

.controller_states {

}

.controller_state {
  font-family: var(--font), sans-serif;
  color: rgba(250, 250, 250, .75);
  font-size: calc(var(--index) * 2);
}


.controller_type {
  display: flex;
  justify-content: center;
  gap: 24px;

  margin: 0 16px;
}

.controller_btn {
  background-color: #343434;
  padding: 12px 42px;
  border-radius: 8px;
  border: 0;

  color: white;
  font-family: var(--font), sans-serif;
  font-weight: 500;
  font-size: 16px;

  box-sizing: border-box;

  border: 2px solid #0000;

  transition: border ease .4s;
}

.controller_btn:hover {
  border: 2px solid #F2F2F299;
} 

.controller_btn--open {
  border: 2px solid #F2F2F2
}